#sidebar{
    position: fixed;
    background-color: coral;
    width: 200px;
    height: 100%;
    padding: 30px;
    cursor: pointer;
}


#results{
    width: 80%;
    margin-left: 280px;
}

.news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:auto;
    margin-bottom: 20px;
}

.news>div{
    width: 60%;
    height: auto;
}

.news img{
    width:200px;
    height:100%;
}